body{background:url(https://www.cashmasternet.com/ebot/plantillas/images/plantilla2_bg.png);font-family:'Open Sans',sans-serif}
*{font-family:'Open Sans',sans-serif;}
.main{background:#FFF;margin-top:15px}
.header{padding:30px}
.logo{margin-top:0}
.c-info ul{display:block;background-color:#f4f4f4;padding:.4em;float:right}
.c-info ul li{display:inline-block;margin:0 1em 0 .188em;font-size:1.2em; font-family:'Open Sans',sans-serif;}
.c-info ul li .strong{font-weight:700!important}
.main_nav{background:#067BDE;min-height:40px}
.main_nav ul{margin:0;padding:0}
.main_nav ul li{display:inline-block;padding:15px 10px;border-right:1px solid #0063B7}
.main_nav ul li a{color:#fff;font-size:16px;padding:0 5px;text-transform:uppercase; font-family:'Open Sans',sans-serif;}
.content{margin-top:15px;padding:15px}
.inf-section{padding:15px;}
.left-info{padding:0;}
.right-info{padding-right:0;}
.box{margin-bottom:15px}
.boximg{text-align:center;border:1px solid #e0e0e0;margin-bottom:15px;padding:10px 0;display:inline-block}
.copy{background:#333}
.copy span{margin:15px 0 10px;display:inline-block;color:#fff}
.product-name{font-size:28px;font-family:'Open Sans',sans-serif;font-weight:600;color:#4b4b4b;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #dcdcdc;letter-spacing:-1px;line-height:32px}
.left-box{padding-right:0}
.descr-main{background-color:#f3f3f3;padding:20px;margin-bottom:30px}
.descr-main div{display:block;vertical-align:top;margin-bottom:20px}
.descr-main span{display:inline-block;vertical-align:top;font-weight:600;font-size:20px;font-family:'Open Sans',sans-serif;}
.descr-main .price{font-size:29px;color:#067bde;line-height:.8;padding-left:20px;font-family:'Open Sans',sans-serif;}
.descr-main .btn{width:47%;background-color:#067bde;display:inline-block;color:#fff;text-align:center;padding:10px 13px;font-size:15px;font-family:'Open Sans',sans-serif;border-radius:0;font-weight:600}
.descr-main .btn:first-of-type{margin-right:4%}
/*Description Fonts*/
.desc-middle  p img{margin-left:10px;}
.desc-middle ,.desc-middle  a,.desc-middle  li,.desc-middle  p,.desc-middle  tr,.desc-middle  td{margin-bottom:0;line-height:22px;font-size:15px;color:#000;font-family:'Open Sans',sans-serif}
.desc-middle {    padding: 10px 10px 20px;}
.desc-middle  a{color:#111;font-family:'Open Sans',sans-serif}
.desc-middle  a:hover{text-decoration:underline}
.desc-middle  ul{margin-bottom:10px}
.desc-middle  ul li{margin:0 0 5px;position:relative}
.desc-middle  ul li:last-child{margin-bottom:0}
.desc-middle  h1{font-size:20px;color:#252525;text-transform:uppercase;font-weight:600;line-height:32px;margin-top:10px}
.desc-middle  h2{font-size:18px;color:#252525;text-transform:uppercase;font-weight:600;line-height:25px;margin-top:10px}
.desc-middle  h3,.desc-middle  h4,.desc-middle  h5,.desc-middle  h6{font-size:14px;color:#000;font-weight:700;line-height:20px;margin-top:10px}
/*Description Fonts End*/
.icons i{color:#067bde}
.icons h5{font-weight:700;height:30px}
menu,menu label{position:absolute;top:0;right:0}
menu{margin:0}
menu input[type=checkbox]{display:none}
menu input[type=checkbox]:checked + .drawer-list{transform:translatex(0);border-bottom-left-radius:0}
menu input[type=checkbox]:checked + .drawer-list li{transform:translatex(0)}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(1){transition:transform .5s .02s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(2){transition:transform .5s .04s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(3){transition:transform .5s .06s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(4){transition:transform .5s .08s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(5){transition:transform .5s .1s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(6){transition:transform .5s .12s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(7){transition:transform .5s .14s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(8){transition:transform .5s .16s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(9){transition:transform .5s .18s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(10){transition:transform .5s .2s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(11){transition:transform .5s .22s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(12){transition:transform .5s .24s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(13){transition:transform .5s .26s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(14){transition:transform .5s .28s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(15){transition:transform .5s .3s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(16){transition:transform .5s .32s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(17){transition:transform .5s .34s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(18){transition:transform .5s .36s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(19){transition:transform .5s .38s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(20){transition:transform .5s .4s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(21){transition:transform .5s .42s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(22){transition:transform .5s .44s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(23){transition:transform .5s .46s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(24){transition:transform .5s .48s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(25){transition:transform .5s .5s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(26){transition:transform .5s .52s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(27){transition:transform .5s .54s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(28){transition:transform .5s .56s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(29){transition:transform .5s .58s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(30){transition:transform .5s .6s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(31){transition:transform .5s .62s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(32){transition:transform .5s .64s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(33){transition:transform .5s .66s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(34){transition:transform .5s .68s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(35){transition:transform .5s .7s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(36){transition:transform .5s .72s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(37){transition:transform .5s .74s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(38){transition:transform .5s .76s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(39){transition:transform .5s .78s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(40){transition:transform .5s .8s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(41){transition:transform .5s .82s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(42){transition:transform .5s .84s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(43){transition:transform .5s .86s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(44){transition:transform .5s .88s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(45){transition:transform .5s .9s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(46){transition:transform .5s .92s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(47){transition:transform .5s .94s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(48){transition:transform .5s .96s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(49){transition:transform .5s .98s ease}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(50){transition:transform .5s 1s ease}
menu input[type=checkbox]:checked + .drawer-list li a{padding-right:15px}
menu input[type=checkbox]:checked ~ mainnav > i{background-color:transparent;transform:rotate(90deg)}
menu input[type=checkbox]:checked ~ mainnav > i:before{transform:translate(-50%,-50%) rotate(315deg)}
menu input[type=checkbox]:checked ~ mainnav > i:after{transform:translate(-50%,-50%) rotate(-315deg)}
menu input[type=checkbox]:checked ~ mainnav close{color:#FEFEFE;width:100%}
menu input[type=checkbox]:checked ~ mainnav open{color:transparent;width:0}
menu .drawer-list{position:fixed;right:0;top:0;height:100vh;width:100vw;transform:translate(100vw,0);-ms-transform:translatex(-100vw);box-sizing:border-box;pointer-events:none;padding-top:125px;transition:width 475ms ease-out,transform 450ms ease,border-radius .8s .1s ease;border-bottom-left-radius:100vw;background-color:#0000;background-color:rgba(0,0,0,0.8);z-index:9999}
@media (min-width: 768px) {
menu .drawer-list{width:25vw}
}
menu .drawer-list ul{height:100%;width:100%;margin:0;padding:0;overflow:auto;overflow-x:hidden;pointer-events:auto}
menu .drawer-list li{list-style:none;text-transform:uppercase;pointer-events:auto;white-space:nowrap;box-sizing:border-box;transform:translatex(100vw);-ms-transform:translatex(-100vw)}
menu .drawer-list li:last-child{margin-bottom:2em}
menu .drawer-list li a{text-decoration:none;color:#FEFEFE;text-align:center;display:block;padding:.5rem;font-size:1.2em}
@media (min-width: 768px) {
menu .drawer-list li a{font-size:1rem;text-align:right}
}
menu .drawer-list li a:hover{cursor:pointer;background-color:#067BDE;background-color:#067BDE}
menu mainnav{position:absolute;display:block;top:20px;right:30px;height:50px;width:50px;z-index:9999999}
menu mainnav:hover{cursor:pointer}
menu mainnav text close,menu mainnav text open{text-transform:uppercase;font-size:.8em;align-text:center;position:absolute;transform:translateY(50px);text-align:center;overflow:hidden;transition:width .25s .35s,color .45s .35s}
menu mainnav text close{color:transparent;right:0;width:0}
menu mainnav text open{color:#067BDE;width:100%}
menu mainnav > i{position:absolute;width:100%;height:2px;top:50%;background-color:#067BDE;pointer-events:auto;transition-duration:.35s;transition-delay:.35s}
menu mainnav > i:before,menu mainnav > i:after{position:absolute;display:block;width:100%;height:2px;left:50%;background:#067BDE;content:"";transition:transform .35s;transform-origin:50% 50%}
menu mainnav > i:before{transform:translate(-50%,-14px)}
menu mainnav > i:after{transform:translate(-50%,14px)}
.slider{width:100%;display:inline-block;padding-top:465px}
.slider .img-details{width:100%;position:absolute;left:0;top:0;transition:all .5s;text-align:center;max-height:570px;transition:all .5s;z-index:22;height:445px;background:#fff}
.slider .img-details img{max-width:100%;max-height:443px;height:100%}
.slider input[name='slide_switch']{display:none}
.slider label{margin-right:17px;display:inline-block;cursor:pointer;transition:all .5s;opacity:1;float:left;margin-bottom:1em}
.slider span{display:inline-table;width:110px;height:110px;text-align:center;border:1px solid #cdcdce}
.slider span:has(img[src*="Liquid"]){display:none}
.slider label img{max-width:100%;width:auto;padding:1px;max-height:108px}
.slider img[src*="Liquid"]{display:none}
.slider input[name='slide_switch']:checked+label{opacity:1}
.slider input ~ .img-details{margin-bottom:0}
.slider input[name='slide_switch'] ~ .img-details{opacity:0;display:none}
.slider input[name='slide_switch']:checked + label + .img-details{opacity:1;display:block;transform:scale(1);border:1px solid #cdcdce}
.slider #id1 + label + .img-details{opacity:1;display:block;transform:scale(1);border:1px solid #ccc}
@media (max-width: 1210px) and (min-width: 1140px) {
.slider{padding-top:495px}
.slider .img-details,.slider .img-details img{max-height:475px}
.slider .img-details img{height:443px}
}
@media (min-width:1141px) {
.slider #id1 + label + .img-details:hover,.slider input[name='slide_switch']:checked+label+ .img-details:hover{transform:scale(1.1);z-index:9999;max-height:1500px}
}
@media(min-width:992px) and (max-width:1140px) {
.slider #id1 + label + .img-details:hover,.slider input[name='slide_switch']:checked+label+ .img-details:hover{transform:scale(1.1)}
}
@media (max-width: 992px) {
.slider{padding-top:495px}
.slider .img-details,.slider .img-details img{max-height:450px}
.slider .img-details img{height:443px}
}
@media (max-width: 939px) {
.slider{padding-top:475px}
.slider .img-details,.slider .img-details img{max-height:455px}
.slider .img-details img{height:443px}
}
@media (width: 768px) {
.slider{padding-top:390px}
.slider .img-details,.slider .img-details img{max-height:370px}
.slider label{margin-right:14px}
.slider span{width:81px;height:81px}
.slider label img{max-height:79px}
.slider #id4 + label,.slider #id8 + label{margin-right:0}
}
@media (max-width: 767px) {
.slider{padding-top:320px;width:100%;position:relative}
.slider .img-details,.slider .img-details img{max-height:300px}
.slider label{margin-right:12px}
.slider span{width:66px;height:66px}
.slider label img{max-height:64px}
.slider #id4 + label,.slider #id8 + label{margin-right:0}
.slider .img-details img{height:298px}
}
.content .panel-default{border-color:#067BDE!important;border-radius:0}
.content .panel-default > .panel-heading{background:#067BDE!important;border-color:#067BDE!important;color:#fff;border-radius:0;font-size:20px;font-family:'Open Sans',sans-serif;text-transform:uppercase;font-weight:400}
.panel{padding:0;border-radius:0}
.tab-con{padding:0}
.desc-middle{font-size:17px;font-family:'Open Sans',sans-serif;}
.desc-middle img{display: block;max-width: 100%;height: auto;margin:0 auto;}
.tabarea{padding:15px}
.tabs{float:none;list-style:none;padding:0;margin:0 auto}
.tabs:after{content:'';display:table;clear:both}
.tabs input[type=radio]{display:none}
.tabs label{display:inline-block;color:#333;text-transform:uppercase;font-size:18px;line-height:24px;font-weight:600;font-family:'Open Sans',sans-serif;padding:12px 20px 11px;float:left;cursor:pointer;background:#e1e1e1;position:relative;z-index:2;border:1px solid #ccc;margin:0 3px 0 0}
.tabs label span{display:inline-block;font-size:18px;font-family:'Open Sans',sans-serif;}
.tabs label i{padding:5px;margin-right:0}
.tabs label:hover{color:#fff;background:#067bde}
.tab-content{display:none;font-size:16px;font-family:'Open Sans',sans-serif;width:100%;float:left;padding:15px;box-sizing:border-box;background-color:#fff;margin:-1px 0 0;padding:25px 20px 35px;border:1px solid #ccc}

/*Tabs Fonts Start*/
.tab-content,.tab-content a,.tab-content li,.tab-content p,.tab-content tr,.tab-content td{margin-bottom:0;line-height:22px;font-size:15px;color:#000;font-family:'Open Sans',sans-serif}
.tab-content{margin:0;padding:25px 20px 35px;}
.tab-content a{color:#111;font-family: 'Open Sans',sans-serif;}
.tab-content a:hover{text-decoration:underline}
.tab-content ul,.tab-content ol{margin-bottom:10px}
.tab-content ul li,.tab-content ol li{margin:0 0 5px;position:relative}
.tab-content ul li:last-child,.tab-content ol li:last-child{margin-bottom:0}
.tab-content h1{font-size:20px;color:#252525;text-transform:uppercase;font-weight:600;line-height:32px;margin-top:10px}
.tab-content h2{font-size:18px;color:#252525;text-transform:uppercase;font-weight:600;line-height:25px;margin-top:10px}
.tab-content h3,.tabarea section h4,.tabarea section h5,.tabarea section h6{font-size:14px;color:#000;font-weight:700;line-height:20px;margin-top:10px}
.description-tab p{margin:0 0 15px}
/*Tabs Fonts End*/

.tab-content *{-webkit-animation:scale .7s ease-in-out;-moz-animation:scale .7s ease-in-out;animation:scale .7s ease-in-out}
@keyframes scale {
0%{transform:scale(0.9);opacity:0}
50%{transform:scale(1.01);opacity:.5}
100%{transform:scale(1);opacity:1}
}
.tabs [id^="tab"]:checked + label{color:#fff;border-bottom:0;background:#067bde;padding-bottom:12px}
#tab1:checked ~ #tab-content1,#tab2:checked ~ #tab-content2,#tab3:checked ~ #tab-content3,#tab4:checked ~ #tab-content4{display:block}
@media (min-width: 768px) {
.tabs i{padding:5px;margin-right:10px}
.tabs label span{display:inline-block}
.tabs{margin:0 auto}
}
@media (max-width: 768px) {
.tabs label{width:100%}
.product-name{font-size:23px;font-family:'Open Sans',sans-serif;}
}
@media (max-width: 992px) {
.right-info {
    padding: 0;
}	
}
@media(max-width:414px) {
.slider .img-details img{height:auto !important;}
}
