* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.not_send_text {
    vertical-align: middle;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}

.not_send {
    padding: 5px 0;
    background: #eb5858;
    border-bottom: 10px solid #eb5858;
}

.body_wrapper {
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.header {
	padding: 5px 0;
	background: #333745;
	border-bottom: 10px solid #eb5858
}

.header_text {
	height: 110px;
	padding-left: 110px;
	
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
}

.title {
	padding: 20px 0 00px;
	text-align: center;
	color: #333745;
	font-size: 40px;
	line-height: 1.25;
	font-weight: 700;
	font-family: 'Roboto Slab', serif;
}

.main {
	padding: 20px 0
}

.gallery {
	padding-bottom: 30px
}

#css-gallery {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	overflow: hidden
}

#css-gallery input {
	display: none
}

#big_holder {
	padding: 0;
	margin-bottom: 20px
}

.big-img {
	display: none;
	padding: 0px;
}

.big-img img {
	width: 100%
}

#small_holder {
	padding: 0
}

#small_holder a {
	margin: 0;
	display: block;
	cursor: pointer;
	text-align: center
}

#small_holder a img {
	max-width: 100%;
	max-height: 79px
}

#big_holder>.big-img:nth-child(1) {
    display: block;
}

#product-img-1:target~#big_holder>.big-img:nth-child(1),
#product-img-2:target~#big_holder>.big-img:nth-child(2),
#product-img-3:target~#big_holder>.big-img:nth-child(3),
#product-img-4:target~#big_holder>.big-img:nth-child(4),
#product-img-5:target~#big_holder>.big-img:nth-child(5) {
	display: block;
}

#product-img-2:target~#big_holder>.big-img:nth-child(1),
#product-img-3:target~#big_holder>.big-img:nth-child(1),
#product-img-4:target~#big_holder>.big-img:nth-child(1),
#product-img-5:target~#big_holder>.big-img:nth-child(1) {
	display: none;
}


.description {}

.star_box {
	padding: 0 0 30px;
	font-size: 20px;
	color: #252525;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.star_box i {
	display: inline;
	font-size: 35px;
	-webkit-text-stroke: 2px #fff;
	-o-text-stroke: 2px #fff;
	-moz-text-stroke: 2px #fff;
	color: #F3CF00;
	margin-right: 5px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .5)
}

.des_icon {
	padding: 0 0 30px;
	font-size: 16px;
	text-align: center;
	color: #636363;
	font-family: 'Open Sans', sans-serif;
}

.des_icon i {
	font-size: 30px;
}

.destext {
	padding: 0;
	color: #121212;
	font-size: 16px;
	line-height: 1.75;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
    text-align: justify
}

.buy_now {
	padding: 30px 0 0;
	text-align: center;
}

.buy_now img {
	width: 100%;
	max-width: 250px;
}

.promotion {
	padding: 10px 0;
	background: #333745;
}

.promotion_single {
	padding: 15px;
}

.promotion_holder {
	display: table-cell;
	vertical-align: middle;
	width: 290px;
	height: 60px;
	margin: 0 auto;
	padding: 0 0 0 70px;
	font-size: 12px;
	line-height: 1.25;
	text-align: left;
	color: #fff;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

.promotion_holder b {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
}

.promotion_holder:before {
	content: '';
	font-family: fontawesome;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	color: #fff;
	width: 60px;
	height: 60px;
	background: #eb5858;
	border-radius: 30px;
	position: absolute;
	top: 0;
	left: 0;
}

.promotion_single:nth-child(1) .promotion_holder:before {
	content: '\f072'
}

.promotion_single:nth-child(2) .promotion_holder:before {
	content: '\f164'
}

.promotion_single:nth-child(3) .promotion_holder:before {
	content: '\f0e2'
}

.promotion_single:nth-child(4) .promotion_holder:before {
	content: '\f005'
}

.tab_area {
	padding: 20px 0 20px;
	font-family: 'Open Sans', sans-serif;
}

.tab_area input {
	display: none
}

.tab_control {
	padding: 0
}

.tab_control a {
	margin: 0;
	padding: 15px 25px;
	float: left;
	background: #333745;
	border-right: 1px solid #924040;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center
}

.tab_control>a:nth-child(1){
	background: #eb5858;
}


.tab_control a:last-child {
	border-right-width: 0px
}

.tab_control a i {
	display: none
}

.tab_content {
	padding: 10px 20px 20px;
	background: #f9f9f9;
	border: 1px solid #ccc;
	color: #000;
	min-height: 300px
}

.tab_text {
	display: none;
	font-size: 14px;
	line-height: 25px;
}


.tab_text:nth-child(1) {
    display: block;
}

.tab_text h2 {
	display: block;
	margin: 20px 0 10px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
}


#tab_2:target~.tab_control>a:nth-child(1),
#tab_3:target~.tab_control>a:nth-child(1),
#tab_4:target~.tab_control>a:nth-child(1),
#tab_5:target~.tab_control>a:nth-child(1),
#tab_6:target~.tab_control>a:nth-child(1) {
        background: #333745;
}


#tab_1:target~.tab_control>a:nth-child(1),
#tab_2:target~.tab_control>a:nth-child(2),
#tab_3:target~.tab_control>a:nth-child(3),
#tab_4:target~.tab_control>a:nth-child(4),
#tab_5:target~.tab_control>a:nth-child(5),
#tab_6:target~.tab_control>a:nth-child(6) {
	background: #eb5858;
}

#tab_1:target~.tab_content>.tab_text:nth-child(1),
#tab_2:target~.tab_content>.tab_text:nth-child(2),
#tab_3:target~.tab_content>.tab_text:nth-child(3),
#tab_4:target~.tab_content>.tab_text:nth-child(4),
#tab_5:target~.tab_content>.tab_text:nth-child(5),
#tab_6:target~.tab_content>.tab_text:nth-child(6) {
	display: block;
}

#tab_2:target~.tab_content>.tab_text:nth-child(1),
#tab_3:target~.tab_content>.tab_text:nth-child(1),
#tab_4:target~.tab_content>.tab_text:nth-child(1),
#tab_5:target~.tab_content>.tab_text:nth-child(1),
#tab_6:target~.tab_content>.tab_text:nth-child(1) {
	display: none;
}

.footer {
	padding: 40px 0;
	background: #333745;
	border-top: 10px solid #eb5858;
}

.copyright {
	padding: 10px 0;
	position: relative;
}

.copyright:before {
    content: '\A9\ Thanks for your visit';
	width: 100%;
	text-align: center;
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0
}

@media screen and (max-width:1199px) {
	.star_box {
		text-align: center
	}
}

@media screen and (max-width:767px) {
	.header_text {
		height: auto;
		padding-left: 0px;
		padding-top: 105px;
		background-position: top center !important;
		font-size: 15px;
		text-align: justify
	}
	.tab_control a i {
		display: block
	}
	.tab_control a span {
		display: none
	}
}

@media screen and (max-width:499px) {
	.title {
		font-size: 25px
	}
	.promotion_single {
		width: 100%
	}
	.tab_control a {
		padding: 15px 20px
	}
	.tab_content {
		padding: 20px 0px
	}
}
